[submodule "modules/firehawk-ami/ansible/collections/ansible_collections/firehawkvfx/core"]
	path = modules/firehawk-ami/ansible/collections/ansible_collections/firehawkvfx/core
	url = ../ansible_collection_core.git
[submodule "modules/firehawk-ami/ansible/collections/ansible_collections/firehawkvfx/fsx"]
	path = modules/firehawk-ami/ansible/collections/ansible_collections/firehawkvfx/fsx
	url = ../ansible_collection_fsx.git
[submodule "modules/firehawk-base-ami"]
	path = modules/firehawk-base-ami
	url = ../firehawk-base-ami.git
[submodule "modules/firehawk-ami/ansible/collections/ansible_collections/firehawkvfx/houdini"]
	path = modules/firehawk-ami/ansible/collections/ansible_collections/firehawkvfx/houdini
	url = https://github.com/firehawkvfx/ansible_collection_houdini.git
