[submodule "modules/firehawk-ami/ansible/collections/ansible_collections/firehawkvfx/ansible_collection_core"]
	path = modules/firehawk-ami/ansible/collections/ansible_collections/firehawkvfx/ansible_collection_core
	url = https://github.com/firehawkvfx/ansible_collection_core.git
[submodule "modules/firehawk-ami/ansible/collections/ansible_collections/firehawkvfx/ansible_collection_fsx"]
	path = modules/firehawk-ami/ansible/collections/ansible_collections/firehawkvfx/ansible_collection_fsx
	url = https://github.com/firehawkvfx/ansible_collection_fsx.git
[submodule "modules/firehawk-base-ami"]
	path = modules/firehawk-base-ami
	url = https://github.com/firehawkvfx/firehawk-base-ami.git
[submodule "modules/firehawk-ami/ansible/collections/ansible_collections/firehawkvfx/ansible_collection_houdini"]
	path = modules/firehawk-ami/ansible/collections/ansible_collections/firehawkvfx/ansible_collection_houdini
	url = https://github.com/firehawkvfx/ansible_collection_houdini.git
